<html>
<head></head>
<body>
    <h1>
        Code: {{ dpath }}
    </h1>
    <hr>

    <ul>
    {{ #each items }}
        <li>
            <a href="/share/{{../code}}/{{ this.path }}">{{ this.name }}</a>
        </li>
    {{ /each }}
    </ul>
</body>
</html>

