<!DOCTYPE HTML>
<html>
<body>
<h1>Directory Listing</h1>
<hr>

<ul>
{% for item in items %}
    <li>
    {% if item.File %}
        &#128441; <a href="{{ item.File.path }}">{{ item.File.path }}</a>
    {% else %}
        &#x1F4C1; <a href="{{ item.Directory.path }}">{{ item.Directory.path }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>

</body>
</html>
