<html>
<head></head>
<body>
    <h1>
        The rain in spain
    </h1>
    <hr>

    <p>
        Falls mainly on the plain.
    </p>

    <hr>

    <small>
        <em>&copy; 2017 Michael Wilson</em>
    </small>
</body>
</html>
